.main-banner {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  background-size: cover;
}

.designed {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
}

body {
  text-align: center;
}

h1,
.home {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.contact {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  font-weight: bold;
}

.last-contact-info {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  background-color: dimgray;
  text-align: left;
  font-weight: bold;
}

.copyright {
  color: white;
  font-family: Helvetica;
  font-size: 11px;
  display: inline-block;
}

h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}

p {
  font-family: Helvetica;
  font-size: 14px;
}
